body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.link-decoration {
    text-decoration: none;
    color: #0077C5;
}

header {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 320px) {
    header {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    header {
        display: block;
    }
}

header .authentication {
    height: 35px;
    padding: 10px 30px 10px 0;
    font-family: Roboto, Arial, sans-serif;
}

header .authentication p {
    float: right;
    margin: 0 10px 0 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
}

header .authentication p a {
    font-weight: 400;
}

header .authentication button {
    float: right;
    height: 35px;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    background: #0077C5;
    color: white;
}

header .authentication button i.material-icons {
    position: absolute;
    font-size: 1.2em;
    color: white;
}

header .authentication button .sign-in-button {
    margin-left: 20px;
}

.intuit-logo {
    width: 100%;
    height: 100%;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .intuit-logo img {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .intuit-logo img {
        width: 375px;
        margin: 0;
    }
}

body {
    background: #ECEEF1;
    font-family: Roboto, Arial, sans-serif;
}

.sign-in-form-container {
    width: 375px;
    height: 100%;
    margin: 10px auto;
    padding: 30px 0;
    background: white;
    border: 1px solid #C1C5C8;
}

@media screen and (min-width: 320px) {
    .sign-in-form-container {
        width: 100%;
        border-right: 0;
        border-left: 0;
    }
}

@media screen and (min-width: 414px) {
    .sign-in-form-container {
        width: 90%;
        border: 1px solid #C1C5C8;
    }
}

@media screen and (min-width: 768px) {
    .sign-in-form-container {
        width: 380px;
    }
}

.sign-in-form-container .text {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

.sign-in-form-container .account {
    margin: 5px 0 0 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.sign-in-form-container .account a {
    font-size: 12px;
    font-weight: 400;
}

.sign-in-form-container form {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}

.sign-in-form-container .sign-in-form {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border: none;
}

.sign-in-form-container .sign-in-form label {
    position: relative;
    display: block;
    margin: 30px 0 10px 0;
    font-size: 14px;
}

.sign-in-form-container .sign-in-form input {
    position: relative;
    width: 94%;
    height: 34px;
    padding: 0 8px;
    border: 1px solid #C1C5C8;
    border-radius: 3px;
    font-size: 16px;
}

.sign-in-form-container .sign-in-form input:focus {
    border: 1px solid #52ABEC;
}

.sign-in-form-container .sign-in-form .standard-call {
    font-size: 10px;
}

.sign-in-form-container .sign-in-form .unlock-icon {
    position: relative;
}

.sign-in-form-container .sign-in-form .unlock-icon i.fa-unlock {
    position: absolute;
    right: 4%;
    bottom: 25%;
    font-size: 18px;
    color: #C1C5C8;
}

.sign-in-form-container .sign-in-form .create-button {
    position: relative;
    width: 100%;
    height: 45px;
    margin-top: 30px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background: #0077C5;
    color: white;
}

.sign-in-form-container .sign-in-form .create-button i.material-icons {
    position: absolute;
    left: 24%;
    font-size: 18px;
    color: white;
}

@media screen and (min-width: 320px) {
    .sign-in-form-container .sign-in-form .create-button i.material-icons {
        left: 19%;
    }
}

@media screen and (min-width: 375px) {
    .sign-in-form-container .sign-in-form .create-button i.material-icons {
        left: 24%;
    }
}

.sign-in-form-container .sign-in-form .license-agreement {
    margin: 40px 0 0 0;
    text-align: center;
    line-height: 2;
    font-weight: 400;
    font-size: 12px;
    color: #bbb;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0 5px 0;
    line-height: 1.5;
    font-size: 12px;
    color: #505050;
}

@media screen and (min-width: 414px) {
    footer {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    footer {
        width: 100%;
    }
}

footer p {
    margin: 0 0 10px 0;
}

footer ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

footer ul li {
    display: inline-block;
    margin-left: 5px;
}
